.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  composes: logoText from "constants/elements.css";
  text-align: center;
  margin-top: 100px;
}

.subtitle {
  composes: subHeader from "constants/elements.css";
  text-align: center;
}

.splashImage {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.splashImage img {
  height: 600px;
  width: auto;
}

@media only screen and (max-width: 1200px) {
  .authContainer {
    display: flex;
    justify-content: space-between;
    width: 800px;
  }
  .splashImage {
    position: relative;
    align-self: center;
  }

  .splashImage img {
    height: 300px;
  }
}
